<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  MyLifeIsBal was started in 2010 as a place to share events in your day that made you say, "Yep, my life is Bal."
  <br>
  Originally built with PHP and MySQL, MyLifeIsBal is back, utilizing Ruby, Rails and SQLite. We also follow better coding practices such as following test-driven development and using version control with Git.
  <br>
  Check out the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by Michael Hartl to learn how to better build your own website.
  <br>
  Special thanks to Mr.Ferraro for inspiring a generation through computer science!
</p>